body{
    font-family:verdana, arial, helvetica, sans-serif
}

.hbox{
    display:flex;
}
.htitle, .abc{
    background-color:rgb(27, 53, 6);
    color:white;
    font-weight:bold;
    font-size:32px;
    flex:1;
    text-align:center;
    padding-top:24px;
    padding-bottom:24px;
}
#logoimg{
    height:88px;
}
.coursetitle{
    background-color:rgb(70, 226, 231);
    color:white;
    font-size:24px;
    padding:8px;
}